body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

input, label, textarea {
    font-family: 'Rubik', sans-serif;
}

.container {
    text-align: center;
}

nav {
    width: 100%;
    box-shadow: 0 -6px 20px;
    text-align: center;
}

section {
    margin: 10px 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.messages {
    width: 100%;
    margin: 15px 0;
}

nav ul {
    margin: 0;
    padding: 15px 0px;
}
nav ul li {
    padding: 0px 10px;
    display: inline-block;
    text-transform: uppercase;
}

nav ul a {
    text-decoration: none;
}

label {
    display: block;
    padding-bottom: 5px;
    font-weight: 500;
}

input:not([type=file]), textarea {
    border: none;
    border-bottom: 1px solid #c0d6f2;
}

.socialaccount_providers img {
    height: 50px;
}

button {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: #669de2;
    border-radius: 3px;
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
    transition: 0.2s all ease-in-out;
}

button:hover {
    background-color: white;
    color: #4183d7;
}

a {
    color: #4183d7;
    transition: 0.1s color ease-in-out;
}

a:hover {
    color: #c0d6f2;
}

section.connections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.connections h1,h2 {
    width: 100%;
    text-align: center;
}

section.connections ul li {
    text-align: center;
    display: inline-block;
}

section.connections fieldset {
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 20px rgba(192, 214, 242, 0.7);
}


section.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.posts .ads_list {
    border-left: 1px solid rgba(192, 214, 242, 0.7);
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
}

section.posts h1 {
    width: 100%;
    text-align: center;
}

section.posts .creation_form {
    box-shadow: 0 0 20px rgba(192, 214, 242, 0.7);
    border-radius: 3px;
    padding: 5px 30px;
    text-align: left;
}

section.posts .creation_form textarea {
    height: 100px;
}

section.posts .creation_form button {
    margin-left: 0;
}

section.posts .creation_form input {
    width: 100%;
}

form {
    font-size: 13.3333px;
}

button.no-active,
button.no-active:hover {
    background-color: #c0d6f2 !important;
    color: white !important;
    cursor: initial;
}