{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smm Tools</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">

    {% block extend_css %}
    {% endblock extend_css %}
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'get-main' %}">Главная</a></li>
        <li><a href="{% url 'create-ads' %}"><strong>Создать объявление</strong></a></li>
        <li><a href="{% url 'account_logout' %}">Выход</a></li>
    </ul>
</nav>

<div class="container">
{% block content %}
{% endblock content %}
</div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% block extend_js %}
{% endblock %}
</body>
</html>
